# TiDB Cloud Connection Details
TIDB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=3bcV5JevUwMg4qT.root
TIDB_PASSWORD=TbfnRx9sOgtkFDTn
TIDB_DATABASE=expense_tracker

# Other Configuration
PORT=8000
JWT_SECRET=feb2557797d143d664af06c53b393968c204f12e1116ddb1f0d8c42a30e6727e883a7f00551b525bfb71e5e2df34a2171eec0eb03ce54bb5a6e6c252e1fc0454
CLIENT_URL=https://expense-tracker-cyan-xi-63.vercel.app
